
/* src/styles/RightClick.css */


.right-click-menu {
    position: absolute;
    background-color: #c0c0c0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    z-index: 1000;
    width: 200px;
    font-family: 'Tahoma', sans-serif;
    border: 1px solid #808080;
  }
  
  .right-click-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .right-click-menu-item {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    background-color: #c0c0c0;
    display: flex;
    justify-content: space-between;
    color: black; /* Default text color */
  }
  
  .right-click-menu-item.has-submenu {
    padding-right: 16px; /* Add padding to the right side for buffer zone */
  }
  
  .right-click-menu-item:hover {
    background-color: #000080;
    color: white; /* Hover text color */
  }
  
  .right-click-menu-item.disabled {
    color: gray;
    cursor: default;
  }
  
  .right-click-menu-item.disabled:hover {
    background-color: #c0c0c0;
    color: gray;
  }
  
  .right-click-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #c0c0c0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #808080;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    width: 150px;
    display: none; /* Default hidden state */
  }
  
  .right-click-menu-item:hover > .right-click-submenu {
    display: block; /* Show submenu on hover */
  }
  
  .right-click-submenu .right-click-menu-item {
    color: black; /* Default text color for submenu items */
  }
  
  .right-click-submenu .right-click-menu-item:hover {
    background-color: #000080;
    color: white; /* Hover text color for submenu items */
  }
  
  .submenu-arrow {
    font-size: 10px;
  }