/* src/styles/RunProgram.css */

.program-window {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: none; /* Remove transition for smoother dragging */
  resize: both;
  overflow: hidden;
}

.program-window.minimized {
  height: 30px;
  overflow: hidden;
}

.program-window.maximized {
  width: 100%;
  height: calc(100% - 40px); /* Adjust the height to stop above the taskbar */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.title-bar {
  background-color: #0078d7;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move; /* Indicate that the window is draggable */
}

.window-controls button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
}

.program-content {
  padding: 10px;
  height: calc(100% - 30px);
  overflow: auto;
}

/* Resizer */
.resizer {
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  z-index: 10;
}

.resizer-bottom-right {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
