
/* src/styles/SelectionBox.css */


.selection-box-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; /* Prevent overflow within the container */
  }
  
  .selection-box {
    position: absolute;
    border: 1px dashed #1d1d1d; /* Updated border color */
    pointer-events: none; /* Ensure it doesn't interfere with mouse events */
  }
  